.authWrapper {
    color: white;
    font-size: 12px;
}

.authWrapper a {
    color: white;
    text-decoration: none;
}

.userWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarWrapper {
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
}

.avatarWrapper img {
    height: 50px;
}

.logOutButton {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    height: 15px;
}