.newMessageWrapper {
}

.form {
    display: flex;
    align-items: flex-end;
}


.textarea {
    width: 300px;
    min-height: 40px;
}

.button {
    margin-left: 5px;
}

.errorWrapper {
    color: red;
    font-weight: bold;
    min-height: 21px;
}