.profileInfoWrapper {
    padding: 5px;

    display: flex;
}

.avatarWrapper {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.avatarImg {
    position: absolute;
    height: 200px;
}

.jobOpeningsImg {
    position: absolute;
    height: 100px;
    bottom: 0;
    right: 0;
}

.description {
    margin-left: 20px;
}

.skills, .contacts {
    margin-top: 10px;
}

.contacts ul {
    list-style: none;
}

.contacts a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 13px;
}



