.likesWrapper{
    margin-left: 15px;
}

.likesImg {
    display: inline-block;
}

.likesImg img {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
}

.numOfLikes {
    display: inline-block;
}