.mainWrapper {
    border: orangered solid 1px;
}

.dialoguesWrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogues {

}

.dialogue {

}

.activeDialogue {
    color: gold;
}

.messages {

}

.message {

}

.inputMessageWrapper {
    display: flex;
    align-items: flex-end;
}

.textarea {
    width: 80%;
    min-height: 40px;
}

.button {
    margin-left: 5px;
}

.context {
    text-align: center;
    margin-top: 10px;
    color: orangered;
}