.mainWrapper {
    border: orangered solid 1px;
}

.dialoguesWrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogues {

}

.dialogue {

}

.activeDialogue {
    color: gold;
}

.messages {

}

.message {

}

.inputMessageWrapper {

}

.context {
    text-align: center;
    margin-top: 10px;
    color: orangered;
}