.dialoguesWrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogues {

}

.dialogue {

}

.activeDialogue {
    color: gold;
}

.messages {

}

.message {

}

.inputMessageWrapper {

}

.textarea {
    width: 80%;
    min-height: 30px;
}

.button {

}