.header {
    grid-area: header;
    display: flex;
    background-color: #06064b;
}

.logo {

}

.header h1 {
    font-size: 30px;
    line-height: 100px;
    vertical-align: center;
    color: white;
}

.logo img {
    margin-left: -30px;
    height: 100px;
}